.left 
{
    width: 50vw;
    /* background-color:  grey; */


}
.innerleft
{
    width: 50%;
    padding: 1em;
     
}
.flag-img
{
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}
.cont-detail
{
    font-size: 1.3vw;
    color: black;
    /* background-color: var(--very-dark-blue-bg); */
}
.right
{
    height: max-content;
    line-height: 1.7em;
    align-items: center;
      position: relative;
}
.back
{
    /* color: black; */
    /* background-color:  white; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.dark
{
    background-color: var(--very-dark-blue-bg);
    color: white;
}

.bder
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;


}


@media only screen and (max-width: 600px) {
    .cont-detail
    {
        flex-direction: column;
        font-size: 3vw;
        row-gap: 1em;
    }
    .left
    {
        width: 90vw;
    }
    .right
    {
        flex-direction: column  ;
        align-items: flex-start;
        
    }
    .innerleft{
         
        width: 100%;
        padding: 0;
          padding-top: 1em;
    }
    .border-c
    {
        margin-top: 2em;
    }
    .b-cont
    {
        row-gap: 0.5em;
    }

  }