.card
{
    color: black;
  
    width: max-content;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Cimg
{
    --w : 100vw;

    width: calc(var(--width-percentage, 20vw) - 10px);
}

  
  /* Divide the screen into 4 parts at 1440px */
  @media (max-width: 1440px) {
    .Cimg {
      --width-percentage: 20vw;
    }
  }
  
  /* Divide the screen into 3 parts at 1110px */
  @media (max-width: 1110px) {
    .Cimg {
      --width-percentage: 40vw;
    }
  }
  
  /* Divide the screen into 2 parts at 720px */
  @media (max-width: 720px) {
    .Cimg {
      --width-percentage: 75vw;
    }
  }
 
  .dark{
    background: hsl(209, 23%, 22%);
    color: white;
  }