.navbars
{
  --very-light-gray: hsla(0, 0%, 98%, 0.87);
    color: black;
    background-color: var(--very-light-gray); 
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12),
    0px 2px 2px 0px rgba(0,0,0,0.12),
    0px 4px 4px 0px rgba(0,0,0,0.12),
    0px 8px 8px 0px rgba(0,0,0,0.12),
    0px 16px 16px 0px rgba(0,0,0,0.12);
  }

@media (prefers-color-scheme: dark) {
    .navbars {
      background: var(--very-dark-blue-bg);
      color: white;
    }
  }
  .dark{
    background-color: var(--very-dark-blue-bg) ;
    color:white;
  }