.form-control-dark:focus {
    color: #ffffff;
    background-color: var(--very-dark-blue-bg);

}
.form-select-1{
 width: 25%;
}

.form-control-dark::placeholder {
    color: white;

}

.form-control-dark:not(:focus) {
    color: white;
    background-color: var(--very-dark-blue-bg);
}


@media only screen and (max-width: 600px) {
    .search{
         flex-direction: column;
         align-items: flex-start;
    }
    
    .form-select-1
    {
    
        width: 75%;
    }
  }

  .max-content
  {
    width: max-content;
  }


.has-search .form-control {
    padding-left: 2.375rem;
    /* width: 25%; */
    
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    /* display: block; */
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: black;
}
.filter-flex
{
    row-gap: 10px;
}