@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,600;0,6..12,800;1,6..12,600;1,6..12,800&family=Ubuntu:wght@400;500;700&display=swap');

#root {
 
  /* max-width: 1280px; */
  margin: 0 auto;
  color: white;
 /* height: 100%; */
  /* padding: 2rem; */
  /* text-align: center; */
  /* background-color: burlywood; */
  /* background-color: white; */
  
}


body
{
  height: 100vh;
}
.dark
{
  background: var(--very-dark-blue-bg);
  color: white;
  /* box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.45); */
 
}
